#
# $configuration:ip800$
#

### Applications
kreatv-app-directfb-closedcaption
kreatv-font-file::%CONFIG_DIR%/closedcaptionfonts.tgz

# opera browser (starts in front)
kreatv-app-opera-portal
kreatv-option-opera-widgetmanager::allow_protocol=https
kreatv-option-opera-widgetmanager::allow_protocol=file
kreatv-option-opera-tabmanager

kreatv-option-freetype
kreatv-app-opera-portal::keybindings=%CONFIG_DIR%/standard.dat

kreatv-option-directfb-broadcom-driver
kreatv-hal:hal=dfb

kreatv-localportal-kabui

kreatv-font-kreativ

example-app-directfb-example

### mocacertshell
kreatv-option-mocacertshell

# netconfig
kreatv-option-netconfig::device=ethernet
kreatv-option-netconfig::device=moca

# Licenses
kreatv-option-license::file=%CONFIG_DIR%/../products/kreatv_audio_decode_ac3.license
kreatv-option-license::file=%CONFIG_DIR%/../products/kreatv_video_decode_mpeg2.license
kreatv-option-license::file=%CONFIG_DIR%/../products/kreatv_video_decode_wmv3.license
kreatv-option-license::file=%CONFIG_DIR%/../products/kreatv_video_decode_h264.license
kreatv-option-license::file=%CONFIG_DIR%/../products/kreatv_ca_macrovision.license
kreatv-option-license::file=%CONFIG_DIR%/../products/kreatv_audio_decode_aac.license

### Options

kreatv-option-sysman-adapter-aqam-reset-processor
kreatv-option-sysman-adapter-aqam-default-application-setup
kreatv-option-is-adapter::flashwritedelay=1
kreatv-option-is-adapter::dailyflashwrites=1000
kreatv-option-is-adapter::rcu=true

kreatv-option-toi2
kreatv-option-matroska
kreatv-option-streamclients:rtsp,basic,http,file
kreatv-option-tz:MST+7MDT,M4.1.0/2,M10.5.0/2
kreatv-option-usb
kreatv-option-kreatvinput-keymaps:pc-en

kreatv-option-mp4
kreatv-option-wma
kreatv-option-ntp:server=0.us.pool.ntp.org

kreatv-option-default-video-settings::file=default_video_settings.ip800.xml
kreatv-option-default-audio-settings::file=default_audio_settings.ip800.xml

# Include the list of TWC AVM rules.
kreatv-option-adaptive-videomode-rules::%CONFIG_DIR%/twc_avm_rules.xml

# Default values for information objects
kreatv-option-is-default::cfg.aqam.autoprovisioning.enabled=FALSE
kreatv-option-is-default::cfg.standby.mode=4
kreatv-option-is-default::cfg.media.audio.preferredLanguageDescriptor=AC3
kreatv-option-is-default::const.time.available_sources=ntp

# Change default ipv4 settings
kreatv-option-procfs::sys/net/ipv4/tcp_retries2=7
kreatv-option-procfs::sys/net/ipv4/tcp_syn_retries=2

# Set default system time with format: MMDDhhmm[[CC]YY][.ss]
kreatv-option-systime:032500002009

kreatv-option-env-variables:EK_PLUGIN_DIR=plugins
kreatv-option-moca:configuration=zeroconfig,version=2

### Changed default settings

kreatv-option-streamer-config:buftime=800,h264buftime=0,StreamerMode=atsc
### Diagnostics settings
kreatv-option-diagnostics
kreatv-option-diagnostics-commonDatamodel
kreatv-option-serial-diagnostics

kreatv-option-download

# SSL CA bundle override
kreatv-option-https-certificate-override:opera.ca-bundle=%CONFIG_DIR%/ka-ca-bundle.pem

### Tools
kreatv-tool-logging::buffer_size=262144
# Warning - Removing the "tokencontrolled" option will create a huge security hole
kreatv-tool-telnet::tokencontrolled
# Warning - Removing the "tokencontrolled" option will create a huge security hole
kreatv-tool-serial-console::tokencontrolled
kreatv-tool-tcpdump
kreatv-tool-backtrace::log_dir=/flash/fatalerrorlog,max_logs=20,event_dir=/flash/eventlog,event_filesize=25600
